<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>N'hésitez pas, <b>contactez-moi</b> !</p>

                <p hidden="true" id="it"> <b> Mon adresse email est: vincent.dardel@mailz.org </b> </p>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-primary btn-lg" onclick="document.getElementById('it').hidden = ! document.getElementById('it').hidden">Contact</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
